@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background: rgb(248, 253, 251);
    font-family: 'Exo', sans-serif;
    font-size: 1.25rem;
    height: 100%;
    margin: 0;
    width: 100%;
}

header {
    border: 3px solid rgb(255, 252, 252);
    box-shadow:10px 10px 10px rgb(158, 154, 154);
    height: 120px;
    text-decoration: none;
}

h1 {
    color:rgb(64, 56, 66);
    font-size: 2rem;
    margin-top: 25px;
    margin-left: 100px;
    padding:5px;
}

.contato a {
    background: #9cb9aa;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    float: right;
    margin-right: 10px;
    padding: 3px  12px;
}

section{
    background: rgba(243, 236, 236, 0.876);
    box-shadow: 10px 50px 10px rgb(243, 236, 236, 0.876);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1vw;
    position: relative;
    padding: 10px;
}

article {
    background: white;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px rgb(209, 198, 198);
    margin-top: 3rem;
    margin-left: 1rem;
    padding: 1rem;
    position: relative;
    width: 380px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: center;
}

li {
    font-size: 13px;
    list-style-type: none;
    margin-bottom: 3px;
    margin-top: 3px;
}

img  {
    width:350px;
}

figcaption {
    display: none;
}
